body {margin:0px;padding:0px;font-family:hps;background:#000}

@font-face {
    font-family:hps;
    src: url("./HPSimplified.ttf");
			}
* {box-sizing:border-box}
			
.body_container {margin:20px;max-width:822px;margin-left:auto;margin-right:auto;background:#fff;padding:10px}

.game_header {background:#1589FF;width:100%;padding:10px 5px 10px 5px;border:1px solid #000;border-bottom:0px;color:#fff}

table {font-weight:bold}

.lalign {text-align:left}

.calign {text-align:center}

.ralign {text-align:right}

.player_name {font-size:22px;color:#fff;letter-spacing:2px}

.score_cont {padding-top:8px;letter-spacing:1px;font-size:20px;color:#fff}

#volley_count {font-size:25px;color: #c7efed;text-shadow: 0px -1px 2px #000;}

#canvas_container {width:100%}

.controller_container {background:#009681e0;width:100%;padding:10px 5px 10px 5px;margin-top:-5px;
					   border: 10px solid #1589FF;border-style: ridge;}

.controller_container td {padding:2px;border-radius:5px}

.game_control_com {}

.game_controller_table td {background:#000;box-shadow: 0px 0px 20px 1px #400707;}

.control_head {color:#fff}

.control_adjuster {margin:10px}

.control_adjuster select {padding:10px;width:100%;} 

.control_text_inp {outline:none;border:none;padding:10px;width:50%;text-align:center}

.fire_button {border: 0px;padding: 10px;text-align: center;font-weight: bold;width: 70%;background: #FFFF00;
			  box-shadow: 2px 2px 8px 1px #000;cursor:pointer;transition:all 0.5s}

.fire_button:hover {transform:scale(1.2);border-radius: 10px;}

.welcome_screen {background:#5f5d5d;top:0;left:0;width:100%;height:100%;position:fixed;}

.welcome_screen_container { background:#fff;max-width:500px;margin:50px;margin-left:10px;margin-right:10px;
							border-radius:5px;padding:10px;padding-top:30px;box-shadow: 0px 0px 60px 2px #000;}

.error {background:pink;padding:15px;text-align:center !important;border:5px solid #f92e52;border-radius:5px;
		font-size:15px;transition:all 0.5s;}

.ws_header {font-size:25px;letter-spacing:2px;}

.ws_div {max-width:400px;margin-top:10px}

.ws_header	b {color:#1589FF}

.instructions {text-align:left;font-size:15px;}

.user_input_container {margin-top: 05px;padding-top: 05px;}

.cfx  {margin-top:20px;text-align:left}

.button_cont {text-align:center}

.uitext {width:100%;background:#fff;padding:10px;border:none;padding-left:2px;outline:none;border-bottom:3px solid #aaa;
		transition:all 0.5s;font-weight:bold;} 
.uitext:active {border-bottom:3px solid #1589FF;} 

.uitext:focus {border-bottom:3px solid #1589FF;} 

.active_text {font-size:12px;transition:all 0.5s;letter-spacing:1px}

.uibutton {background:#1589FF;border:2px solid #1589FF;padding:10px;font-size:20px;color:#fff;font-weight:bold;letter-spacing:1px;
			transition:all 0.5s;cursor:pointer;border-radius:5px;text-shadow:0px 1px 1px #000}

.uibutton:hover {transform:scale(1.2);opacity:0.8}

@media (max-width: 420px) {
   .ws_header {font-size:17px;}
   .instructions {font-size:12px;}
}

			  

